spring:
  application:
    name: Revix

  datasource:
    url: jdbc:postgresql://localhost:5432/revix
    username: revix
    password: revix

  jpa:
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-migration-naming: true

  logging:
    level:
      org.flywaydb: DEBUG
      org.springframework.boot.autoconfigure.flyway: DEBUG

